# Flask for the web application
Flask

# TensorFlow forbuilding and training the model
tensorflow

# OpenCV for image processing
opencv-python-headless

# MediaPipe for hand detection
mediapipe

# gTTS for text-to-speech
gTTS

# NumPy for numerical computations (no strict version constraint)
numpy

# scikit-learn for evaluation metrics
scikit-learn

# Pillow for image loading
Pillow

# Simpleaudio for playing audio (optional, if you want to play the TTS output)


# Gunicorn for deploying the Flask app (optional)
gunicorn

# Werkzeug for WSGI utilities
Werkzeug